<!DOCTYPE html>
<html>
<head>
  <title>Pommodoro Parrot</title>
</head>
<body>

<div class ="header">
  <h1> Pomodoro Parrot </h1>
  <h3>Your personal motivation speaker </h3>
</div>

<div class ="introduction">
  <h2> Why Pomodoro? </h2>

<%= yield %>

</body>
</html>
