<!DOCTYPE html>
<html>
<head>
  <title>Pommodoro Parrot</title>
</head>
<body>

<div class ="header">
  <h1> Pomodoro Parrot </h1>
  <h3>Your personal motivation speaker </h3>
</div>

<div class ="introduction">
  <h2> What is the Pomodoro Technique? </h2>
  <p> The Pomodoro Technique is a time management method developed by Francesco Cirillo in the late 1980s.</p>
  <p> The technique uses a timer to break down work into intervals lasting 25 minutes, separated by short breaks
    - <em>pomodori</em>.
    This means that you stayed focused on your task and also reduces the chance of a burnout.</p>

  <h2> Why use the Pomodoro Technique? </h2>
  <ul>
    <li><h3>Work with Time</h3></li>
      <p>Insted of chasing deadlines the Pomodoro Technique teaches you to work with time, using it to your advantage</p>
    <li><h3>Scheduled Breaks</h3></li>
      <p>Taking short, scheduled breaks while working eliminates that "frazzled brain" feeling you get when you’ve pushed yourself too hard.</p>
      <p>It’s impossible to over work when you stick to the system.</p>
    <li><h3>Manage Distractions</h3></li>
      <p> Whether it’s a Whatsapp message, a Twitter mention message, or suddenly realizing you need to buy shampoo, many distracting thoughts and events come up when you’re at work.</p>
      <p>The Pomodoro Technique will help you log your distractions and order them according to priority levels. Often, they can wait.</p>
    <li><h3>Enjoy your Free Time</h3></li>
      <p>We've all had that guilt feeling that comes from procrastinating. If we haven’t had a productive day, it’s pretty easy to end up feeling like we can’t enjoy our free time.</p>
      <p>Becoming a Pomodoro Master allows you to truly enjoy your time off.<p>
  </ul>

  <h2> The 5 Basic Pomodoro steps </h2>
  <ol>
    <li>Decide on the task to be done</li>
    <li>Set the pomodoro timer</li>
    <li>Work on the current task unil the timer rings</li>
    <li>Take a short break (5 minutes)</li>
    <li>After 3-5 pomodori, take a longer break (15-30 minutes)</li>
  </ol>

<%= yield %>

</body>
</html>
