<!DOCTYPE html>
<html>
<head>
  <title>Pommodoro Parrot</title>
</head>
<body>

  <div class="header">
    <h1> Pomodoro Completed! </h1>
  </div>

  <div class="squashed_tomato">
    <h3>You smashed that!</h3>
  </div>
