<!DOCTYPE html>
<html>
<head>
  <title>Pommodoro Parrot</title>
</head>
<body>

  <div class="header">
    <h1> You smashed that! </h1>
  </div>

  <div class="squashed_tomato">
  </div>


  <h5> <%= link_to "Start another Pomodoro!", root_path, class: "btn" %> </h5>
