<div class ="header">
  <h1> Have a break...</h1>
</div>

<div class ="timer_form">
      <div id="clock"></div>
      </div>

      <script src="assets/js/flipclock.min.js"></script>
      <script>
        var clock = $('#clock').FlipClock({
          countdown: true,
          clockFace: "MinuteCounter"
        });
        clock.setTime(300)
        clock.start()
      </script>

</div>

<audio autoplay>
  <source src="<%= audio_path 'church.mp3' %>" type="audio/mpeg">
</audio>
