<div class ="header">
  <h1> Tick, Tock, Tick, Tock... </h1>
</div>

<div class ="timer_form">
      <div id="clock"></div>
      </div>

      <script>
        var clock = $('#clock').FlipClock({
          countdown: true,
          clockFace: "MinuteCounter"
        });
        clock.setTime(1500)
        clock.start()
      </script>

</div>


<audio autoplay="autoplay">
  <source src="<%= audio_path 'shortened.wav' %>">
  </audio>
