
<!DOCTYPE html>
<html>
<head>
  <title>Pommodoro Parrot Timer</title>
</head>

<body>


  <p id="notice"><%= notice %></p>

<%= render "/timers/form" %>

<%= link_to 'Back', surveys_path %>

</body>
</html>
