.squashed_tomato {
  width: 160px;
  height: 110px;
  margin: 0 auto;
  background-image: url("http://i.imgur.com/Th0nGuH.jpg");
  background-position: center center;
  background-size: contain;
  padding: 170px 220px 250px 140px;
  background-repeat: no-repeat;
}
