h1 {
  font-family: Courier New;
  color: #E80046;
}

h2 {
  font-family: Courier New;
  color: #E80046;
}

h3 {
  font-family: Courier New;
}

div {

}

.header {
  text-align: center;
  padding: 20px;
  margin: 0px;
  width: 100%;
}

.introduction {
  padding: 40px;

}
