h1 {
  font-family: Courier New;
  color: #E80046;
}

h2 {
  font-family: Courier New;
  color: #E80046;
}

h3 {
  font-family: Courier New;
}

div {

}

.header {
  text-align: center;
  padding: 20px;
  margin: 0px;
  width: 100%;
}

.introduction {
  padding: 40px;

}

.tomato_form {
  width: 150px;
  height: 100px;
  margin: 0 auto;
  background-image: url("http://i.imgur.com/YwcK1PO.jpg?2");
  background-position: center center;
  background-size: contain;
  padding: 100px 120px 150px 150px;
  background-repeat: no-repeat;
}
