h1 {
  font-family: Courier New;
  color: #E80046;
}

h2 {
  font-family: Courier New;
  color: #E80046;
}

h3 {
  font-family: Courier New;
}

div {

}

.header {
  text-align: center;
}

.introduction {

}
